@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Beni';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/BeniRegular.woff2') format('woff2'),
    url('/fonts/BeniRegular.woff') format('woff'),
    url('/fonts/BeniRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Algo';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/Algo.woff2') format('woff2'),
    url('/fonts/Algo.woff') format('woff'),
    url('/fonts/Algo.ttf') format('truetype');
}
